In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
event = "1500"

读取比赛数据

In [3]:
race = pd.read_csv("data/" + event + "m.csv")

In [4]:
x, y = race.shape

In [5]:
race_new_names = []

In [6]:
for i in range(x):
    race_new_names.append(race["Name"][i].title())

In [7]:
race["Name"]= race_new_names

In [8]:
race

,Unnamed: 0,Place,Start Pos.,Warn.,#,Name,ISU Member,Results,Unnamed: 7,Qual.,...,5,6,7,8,9,10,11,12,13,14
0,0,1,5,NaN,52,Hwang Daeheon,KOR,2:09.219,NaN,NaN,...,9.29,8.61,8.77,9.00,8.92,8.80,8.74,9.00,9.29,9.46
1,1,2,9,NaN,16,Dubois Steven,CAN,2:09.254,NaN,NaN,...,9.26,8.63,8.79,8.98,8.92,8.78,8.75,8.98,9.29,9.42
2,2,3,6,NaN,3,Semen Elistratov,RUS,2:09.267,NaN,NaN,...,9.46,8.95,8.84,9.01,8.92,8.77,8.75,8.96,9.24,9.40
3,3,4,3,NaN,1,Liu Shaoang,HUN,2:09.409,NaN,NaN,...,9.70,9.00,8.86,8.89,8.97,8.77,8.82,8.83,9.24,9.37
4,4,5,1,NaN,46,Lee June Seo,KOR,2:09.622,NaN,NaN,...,9.70,9.02,8.87,8.87,9.11,8.79,8.68,8.92,9.16,9.47
5,5,6,2,NaN,2,Shaolin Sandor Liu,HUN,2:09.953,NaN,NaN,...,9.59,8.96,8.81,8.99,8.94,8.81,8.83,9.01,9.31,9.73
6,6,7,4,NaN,195,Park Jang Hyuk,KOR,2:10.176,NaN,NaN,...,9.75,9.01,8.84,8.93,8.98,9.03,8.54,8.78,9.25,9.83
7,7,8,8,NaN,15,Adil Galiakhmetov,KAZ,2:11.584,NaN,NaN,...,9.05,9.10,8.96,9.19,9.16,9.07,9.02,9.23,9.55,10.04
8,8,9,7,NaN,114,Farrell Treacy,GBR,2:11.988,NaN,NaN,...,9.54,9.08,8.83,8.92,9.00,9.08,9.00,9.45,9.68,9.91
9,9,10,10,NaN,20,Confortola Yuri,ITA,2:12.384,NaN,NaN,...,9.79,9.03,8.87,8.89,8.92,9.01,9.03,9.54,9.78,10.46
10,0,1,6,NaN,66,John-Henry Krueger,HUN,2:18.059,NaN,NaN,...,10.20,10.14,10.00,9.65,9.36,9.60,9.02,8.67,8.91,8.83
11,1,2,1,NaN,57,Denis Ayrapetyan,RUS,2:18.076,NaN,NaN,...,10.16,10.12,9.92,9.68,9.49,9.51,8.86,8.78,9.00,8.94
12,2,3,3,NaN,9,Desmet Stijn,BEL,2:18.278,NaN,NaN,...,9.73,10.07,9.92,9.69,9.49,9.53,8.94,8.89,8.92,9.13
13,3,4,2,NaN,64,Roes Sven,NED,2:18.299,NaN,NaN,...,10.34,10.00,9.96,9.71,9.51,9.52,8.99,8.74,8.80,8.92
14,4,5,5,NaN,25,Berzins Reinis,LAT,2:18.499,NaN,NaN,...,10.15,9.79,9.54,9.66,9.79,9.72,8.96,8.73,9.07,8.97
15,5,6,4,NaN,59,Yoshinaga Kazuki,JPN,2:18.585,NaN,NaN,...,10.24,9.97,9.96,9.67,9.59,9.27,9.12,8.86,9.20,8.95
16,0,1,1,NaN,40,Choi Minjeong,KOR,2:17.789,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1,2,7,NaN,3,Arianna Fontana,ITA,2:17.862,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2,3,4,NaN,1,Suzanne Schulting,NED,2:17.865,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3,4,5,NaN,5,Desmet Hanne,BEL,2:18.711,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4,5,3,NaN,6,Velzeboer Xandra,NED,2:18.781,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,5,6,6,NaN,47,Lee Yubin,KOR,2:18.825,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,6,7,2,NaN,36,Han Yu Tong,CHN,2:19.060,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,0,1,7,NaN,65,Kikuchi Sumire,JPN,2:37.915,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1,2,6,NaN,8,Kristen Santos,USA,2:45.492,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2,3,4,NaN,35,Boutin Kim,CAN,2:45.568,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3,4,1,NaN,2,Sarault Courtney,CAN,2:45.606,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,4,5,2,NaN,12,Mascitto Cynthia,ITA,2:45.697,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,5,6,5,NaN,44,Kim A Lang,KOR,2:45.707,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,6,7,3,NaN,23,Hruzova Michaela,CZE,2:46.664,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

运动员数据

In [9]:
athletes = pd.read_csv("data/new_athletes.csv")[["Name", "Gender", "Age"]]

In [10]:
x, y = athletes.shape
athletes_gender_list = []
for index in range(x):
    athletes_gender_list.append(athletes["Gender"][index][0])
athletes["Gender"] = athletes_gender_list

In [11]:
old_athletes = pd.read_csv("data/athletes.csv")
rows, columns = old_athletes.shape
old_athletes

    Gender               Name    Birthdate
0        M          AN Victor  23 Nov 1985
1        M   AYRAPETYAN Denis  17 Jan 1997
2        M  BALBEKOV Vladimir  11 Sep 2002
3        W     BELYAKOVA Olga  26 Sep 1988
4        W   BERESNEVA Yuliia  13 May 2002
..     ...                ...          ...
613      W    THOMSON Kathryn  26 Jan 1996
614      M       TREACY Ethan  19 Jun 1998
615      M     TREACY Farrell  29 Apr 1995
616      M       TREACY Niall  22 Jul 2000
617      M      YATES Westley  21 Feb 2000

[618 rows x 3 columns]

In [12]:
age_list = []
name_list = []
year = 2022
for i in range(rows):
    birthyear = re.match(".+(\d{4})", old_athletes["Birthdate"][i]).group(1)
    age_list.append(year - int(birthyear))
    name_list.append(old_athletes["Name"][i].title())
old_athletes["Age"] = age_list
old_athletes["Name"] = name_list

In [13]:
old_athletes = old_athletes[["Name", "Gender", "Age"]]

In [20]:
old_athletes

                  Name Gender  Age
0            An Victor      M   37
1     Ayrapetyan Denis      M   25
2    Balbekov Vladimir      M   20
3       Belyakova Olga      W   34
4     Beresneva Yuliia      W   20
..                 ...    ...  ...
613    Thomson Kathryn      W   26
614       Treacy Ethan      M   24
615     Treacy Farrell      M   27
616       Treacy Niall      M   22
617      Yates Westley      M   22

[618 rows x 3 columns]

In [21]:
all_athletes = pd.concat([athletes, old_athletes]).drop_duplicates()

In [16]:
res = pd.merge(race, all_athletes, how="left", on="Name")

In [17]:
all_athletes.to_csv("res_data/all_athletes.csv")

In [18]:
res.to_csv("res_data/race_" + event + "m.csv")

In [19]:
res

,Unnamed: 0,Place,Start Pos.,Warn.,#,Name,ISU Member,Results,Unnamed: 7,Qual.,...,7,8,9,10,11,12,13,14,Gender,Age
0,0,1,5,NaN,52,Hwang Daeheon,KOR,2:09.219,NaN,NaN,...,8.77,9.00,8.92,8.80,8.74,9.00,9.29,9.46,NaN,NaN
1,1,2,9,NaN,16,Dubois Steven,CAN,2:09.254,NaN,NaN,...,8.79,8.98,8.92,8.78,8.75,8.98,9.29,9.42,M,25.0
2,2,3,6,NaN,3,Semen Elistratov,RUS,2:09.267,NaN,NaN,...,8.84,9.01,8.92,8.77,8.75,8.96,9.24,9.40,M,32.0
3,3,4,3,NaN,1,Liu Shaoang,HUN,2:09.409,NaN,NaN,...,8.86,8.89,8.97,8.77,8.82,8.83,9.24,9.37,M,24.0
4,4,5,1,NaN,46,Lee June Seo,KOR,2:09.622,NaN,NaN,...,8.87,8.87,9.11,8.79,8.68,8.92,9.16,9.47,M,22.0
5,5,6,2,NaN,2,Shaolin Sandor Liu,HUN,2:09.953,NaN,NaN,...,8.81,8.99,8.94,8.81,8.83,9.01,9.31,9.73,NaN,NaN
6,6,7,4,NaN,195,Park Jang Hyuk,KOR,2:10.176,NaN,NaN,...,8.84,8.93,8.98,9.03,8.54,8.78,9.25,9.83,M,24.0
7,7,8,8,NaN,15,Adil Galiakhmetov,KAZ,2:11.584,NaN,NaN,...,8.96,9.19,9.16,9.07,9.02,9.23,9.55,10.04,M,24.0
8,8,9,7,NaN,114,Farrell Treacy,GBR,2:11.988,NaN,NaN,...,8.83,8.92,9.00,9.08,9.00,9.45,9.68,9.91,M,27.0
9,9,10,10,NaN,20,Confortola Yuri,ITA,2:12.384,NaN,NaN,...,8.87,8.89,8.92,9.01,9.03,9.54,9.78,10.46,M,36.0
10,0,1,6,NaN,66,John-Henry Krueger,HUN,2:18.059,NaN,NaN,...,10.00,9.65,9.36,9.60,9.02,8.67,8.91,8.83,M,27.0
11,1,2,1,NaN,57,Denis Ayrapetyan,RUS,2:18.076,NaN,NaN,...,9.92,9.68,9.49,9.51,8.86,8.78,9.00,8.94,M,25.0
12,2,3,3,NaN,9,Desmet Stijn,BEL,2:18.278,NaN,NaN,...,9.92,9.69,9.49,9.53,8.94,8.89,8.92,9.13,M,24.0
13,3,4,2,NaN,64,Roes Sven,NED,2:18.299,NaN,NaN,...,9.96,9.71,9.51,9.52,8.99,8.74,8.80,8.92,M,23.0
14,4,5,5,NaN,25,Berzins Reinis,LAT,2:18.499,NaN,NaN,...,9.54,9.66,9.79,9.72,8.96,8.73,9.07,8.97,M,21.0
15,5,6,4,NaN,59,Yoshinaga Kazuki,JPN,2:18.585,NaN,NaN,...,9.96,9.67,9.59,9.27,9.12,8.86,9.20,8.95,M,23.0
16,0,1,1,NaN,40,Choi Minjeong,KOR,2:17.789,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1,2,7,NaN,3,Arianna Fontana,ITA,2:17.862,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,32.0
18,2,3,4,NaN,1,Suzanne Schulting,NED,2:17.865,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,25.0
19,3,4,5,NaN,5,Desmet Hanne,BEL,2:18.711,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,26.0
20,4,5,3,NaN,6,Velzeboer Xandra,NED,2:18.781,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,21.0
21,5,6,6,NaN,47,Lee Yubin,KOR,2:18.825,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,6,7,2,NaN,36,Han Yu Tong,CHN,2:19.060,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,0,1,7,NaN,65,Kikuchi Sumire,JPN,2:37.915,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,26.0
24,1,2,6,NaN,8,Kristen Santos,USA,2:45.492,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,28.0
25,2,3,4,NaN,35,Boutin Kim,CAN,2:45.568,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,28.0
26,3,4,1,NaN,2,Sarault Courtney,CAN,2:45.606,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,22.0
27,4,5,2,NaN,12,Mascitto Cynthia,ITA,2:45.697,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,30.0
28,5,6,5,NaN,44,Kim A Lang,KOR,2:45.707,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,6,7,3,NaN,23,Hruzova Michaela,CZE,2:46.664,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
pd.concat([athletes, old_athletes]).to_csv("data/test_athletes.csv")

In [23]:
pd.concat([athletes, old_athletes])

                  Name Gender  Age
0    Sara Luca Bacskai      W   23
1         Csaba Burjan      M   28
2     Bernadett Heidum      W   34
3      Peter Jaszapati      M   19
4      Petra Jászapáti      W   24
..                 ...    ...  ...
613    Thomson Kathryn      W   26
614       Treacy Ethan      M   24
615     Treacy Farrell      M   27
616       Treacy Niall      M   22
617      Yates Westley      M   22

[1236 rows x 3 columns]

In [24]:
pd.merge(race, pd.concat([athletes, old_athletes]), how="left", on="Name")

,Unnamed: 0,Place,Start Pos.,Warn.,#,Name,ISU Member,Results,Unnamed: 7,Qual.,...,7,8,9,10,11,12,13,14,Gender,Age
0,0,1,5,NaN,52,Hwang Daeheon,KOR,2:09.219,NaN,NaN,...,8.77,9.00,8.92,8.80,8.74,9.00,9.29,9.46,NaN,NaN
1,1,2,9,NaN,16,Dubois Steven,CAN,2:09.254,NaN,NaN,...,8.79,8.98,8.92,8.78,8.75,8.98,9.29,9.42,M,25.0
2,2,3,6,NaN,3,Semen Elistratov,RUS,2:09.267,NaN,NaN,...,8.84,9.01,8.92,8.77,8.75,8.96,9.24,9.40,M,32.0
3,3,4,3,NaN,1,Liu Shaoang,HUN,2:09.409,NaN,NaN,...,8.86,8.89,8.97,8.77,8.82,8.83,9.24,9.37,M,24.0
4,4,5,1,NaN,46,Lee June Seo,KOR,2:09.622,NaN,NaN,...,8.87,8.87,9.11,8.79,8.68,8.92,9.16,9.47,M,22.0
5,4,5,1,NaN,46,Lee June Seo,KOR,2:09.622,NaN,NaN,...,8.87,8.87,9.11,8.79,8.68,8.92,9.16,9.47,M,22.0
6,5,6,2,NaN,2,Shaolin Sandor Liu,HUN,2:09.953,NaN,NaN,...,8.81,8.99,8.94,8.81,8.83,9.01,9.31,9.73,NaN,NaN
7,6,7,4,NaN,195,Park Jang Hyuk,KOR,2:10.176,NaN,NaN,...,8.84,8.93,8.98,9.03,8.54,8.78,9.25,9.83,M,24.0
8,6,7,4,NaN,195,Park Jang Hyuk,KOR,2:10.176,NaN,NaN,...,8.84,8.93,8.98,9.03,8.54,8.78,9.25,9.83,M,24.0
9,7,8,8,NaN,15,Adil Galiakhmetov,KAZ,2:11.584,NaN,NaN,...,8.96,9.19,9.16,9.07,9.02,9.23,9.55,10.04,M,24.0
10,8,9,7,NaN,114,Farrell Treacy,GBR,2:11.988,NaN,NaN,...,8.83,8.92,9.00,9.08,9.00,9.45,9.68,9.91,M,27.0
11,9,10,10,NaN,20,Confortola Yuri,ITA,2:12.384,NaN,NaN,...,8.87,8.89,8.92,9.01,9.03,9.54,9.78,10.46,M,36.0
12,0,1,6,NaN,66,John-Henry Krueger,HUN,2:18.059,NaN,NaN,...,10.00,9.65,9.36,9.60,9.02,8.67,8.91,8.83,M,27.0
13,1,2,1,NaN,57,Denis Ayrapetyan,RUS,2:18.076,NaN,NaN,...,9.92,9.68,9.49,9.51,8.86,8.78,9.00,8.94,M,25.0
14,2,3,3,NaN,9,Desmet Stijn,BEL,2:18.278,NaN,NaN,...,9.92,9.69,9.49,9.53,8.94,8.89,8.92,9.13,M,24.0
15,3,4,2,NaN,64,Roes Sven,NED,2:18.299,NaN,NaN,...,9.96,9.71,9.51,9.52,8.99,8.74,8.80,8.92,M,23.0
16,4,5,5,NaN,25,Berzins Reinis,LAT,2:18.499,NaN,NaN,...,9.54,9.66,9.79,9.72,8.96,8.73,9.07,8.97,M,21.0
17,5,6,4,NaN,59,Yoshinaga Kazuki,JPN,2:18.585,NaN,NaN,...,9.96,9.67,9.59,9.27,9.12,8.86,9.20,8.95,M,23.0
18,0,1,1,NaN,40,Choi Minjeong,KOR,2:17.789,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1,2,7,NaN,3,Arianna Fontana,ITA,2:17.862,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,32.0
20,2,3,4,NaN,1,Suzanne Schulting,NED,2:17.865,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,25.0
21,3,4,5,NaN,5,Desmet Hanne,BEL,2:18.711,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,26.0
22,4,5,3,NaN,6,Velzeboer Xandra,NED,2:18.781,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,21.0
23,5,6,6,NaN,47,Lee Yubin,KOR,2:18.825,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,6,7,2,NaN,36,Han Yu Tong,CHN,2:19.060,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,0,1,7,NaN,65,Kikuchi Sumire,JPN,2:37.915,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,26.0
26,1,2,6,NaN,8,Kristen Santos,USA,2:45.492,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,28.0
27,2,3,4,NaN,35,Boutin Kim,CAN,2:45.568,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,28.0
28,3,4,1,NaN,2,Sarault Courtney,CAN,2:45.606,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,22.0
29,4,5,2,NaN,12,Mascitto Cynthia,ITA,2:45.697,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,30.0
30,5,6,5,NaN,44,Kim A Lang,KOR,2:45.707,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,6,7,3,NaN,23,Hruzova Michaela,CZE,2:46.664,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN